@import "../../assets/styles/variables.scss";

.table-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.table {
  margin-top: 24px;
}

.table-inner {
  width: 100%;
}

.welcome {
  align-self: start;
}

.welcome-wrapper--loaded {
  align-self: start;
}

.row {
  cursor: pointer;

  &:hover {
    background-color: $table-row-hover;
  }
}

.pagination {
  margin-top: auto;
}

.load-cell {
  width: 70px;
  height: 20px;

  background: linear-gradient(
    110deg,
    #ececec78 15%,
    #f5f5f594 30%,
    #ececec78 45%
  );
  border-radius: 10px;

  background-size: 200% 100%;
  animation: 1s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
