$search-background: #f2f2f2;
$header-background: #00838f;
$placeholder-color: #000000;
$search-button-color: #2196f3;
$aside-background: #f2f2f2;
$table-row-hover: #f2f2f2;
$chip-background: #2196f3;
$light-text-color: #ffffff;
$star-color: #ffb400;
