.main {
  display: flex;
  padding: 24px 32px;
  padding-top: 0;
  padding-right: 16px;
  width: 70%;
  margin-top: 24px;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
